services:
  cypress-test:
    container_name: cypress-test
    profiles: ["", "tests"]
    build:
      dockerfile: cypress.dockerfile
    environment:
      CYPRESS_BASE_URL: 'http://mnestix-browser:3000'
      CYPRESS_AAS_REPO_API_URL: 'http://mnestix-api:5064/repo'
      CYPRESS_SUBMODEL_REPO_API_URL: 'http://mnestix-api:5064/repo'
      CYPRESS_MNESTIX_BACKEND_API_URL: 'http://mnestix-api:5064'
      CYPRESS_AAS_DISCOVERY_API_URL: 'http://mnestix-api:5064/discovery'
      MNESTIX_BACKEND_API_KEY: ${MNESTIX_BACKEND_API_KEY:-verySecureApiKey}
      ELECTRON_ENABLE_LOGGING: 1
    volumes:
      - ./cypress-artifacts/screenshots:/cypress_Tests/cypress/screenshots
      - ./cypress-artifacts/videos:/cypress_Tests/cypress/videos
      - ./cypress:/cypress
    depends_on:
      - mnestix-browser
      - mnestix-api
      - aas-environment
    networks:
      - mnestix-network

  mnestix-browser:
    environment:
      AAS_REPO_API_URL: 'http://mnestix-api:5064/repo'
      SUBMODEL_REPO_API_URL: 'http://mnestix-api:5064/repo'
      DISCOVERY_API_URL: 'http://mnestix-api:5064/discovery'
      MNESTIX_BACKEND_API_URL: 'http://mnestix-api:5064'